// Fixes

.clearfix:before, .clearfix:after {
  content: "\0020"; display: block; height: 0; visibility: hidden;	
} 
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

* {
	margin: 0;
	padding: 0;
}

a img {
	border: none;
}